<!-- https://scotch.io/tutorials/getting-started-with-flask-a-python-microframework -->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="header clearfix">
  <nav>
    <ul class="nav nav-tabs justify-content-end">
      <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
      <li class="nav-item"><a class="nav-link" href="/analysis">Analysis</a></li>
      <li class="nav-item"><a class="nav-link" href="/explore">Explore</a></li>
    </ul>
  </nav>
</div>

<div class="jumbotron">
  <h1>Mental Health Forum Analysis</h1>
  <p class="lead">
      Hello! This project utilizes sentiment analysis and kmeans clustering to
      group similar texts. Check out the About tab to read more about our process
      and goals, the Analysis tab to see some gathered data, or the Explore tab to
      experiment with our algorithm yourself!
  </p>
</div>
{% endblock %}
