
{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block body %}
<div class="header clearfix">
  <nav>
    <ul class="nav nav-tabs justify-content-end">
      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
      <li class="nav-item"><a class="nav-link active" href="/about">About</a></li>
      <li class="nav-item"><a class="nav-link" href="/analysis">Analysis</a></li>
      <li class="nav-item"><a class="nav-link" href="/explore">Explore</a></li>
    </ul>
  </nav>
</div>

<div class="jumbotron">
  <h1>About Our Project</h1>
  <p class="lead">Learn more about our process and overall goals.</p>
</div>
{% endblock %}
