<!-- https://scotch.io/tutorials/getting-started-with-flask-a-python-microframework -->

{% extends "base.html" %}
{% block title %}Analysis{% endblock %}
{% block body %}
<div class="header clearfix">
  <nav>
    <ul class="nav nav-tabs justify-content-end">
      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
      <li class="nav-item"><a class="nav-link active" href="/analysis">Analysis</a></li>
      <li class="nav-item"><a class="nav-link" href="/explore">Explore</a></li>
    </ul>
  </nav>
</div>

<div class="jumbotron">
  <h1>Analysis</h1>
  <p class="lead">Here are some of the things we found through our data
      collection and analysis.</p>
</div>

<div class="card">
  <div class="card-header">
    [Section of Analysis]
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
    </blockquote>
  </div>
</div>
{% endblock %}
