{% extends "base.html" %}
{% block title %}Explore{% endblock %}

{% block body %}
<div class="header clearfix">
  <nav>
    <ul class="nav nav-tabs justify-content-end">
      <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
      <li class="nav-item"><a class="nav-link" href="/analysis">Analysis</a></li>
      <li class="nav-item"><a class="nav-link active" href="/explore">Explore</a></li>
    </ul>
  </nav>
</div>

<div class="jumbotron">
  <h1>Test Our Algorithm</h1>
  <p class="lead">
      Please categorize these statements by emotion (interpretation is up to
      you). Similar statements should be in the same "bucket" and some "buckets"
      can be empty.
  </p>
</div>

<script>

    let dragged;

    function allowDrop(ev) {
      ev.preventDefault();
    }

    function drag(ev) {
      let target = ev.target;
      dragged = target;
      ev.dataTransfer.setData("text", ev.target.id);
    }

    function drop(ev) {
      //ev.preventDefault();
      var data = ev.dataTransfer.getData("text");
      //ev.currentTarget.data-group = ev.target.data-group;
      //console.log("new: " + ev.currentTarget.data-group)
      ev.target.appendChild(document.getElementById(data));
    }

    function returnDrop(ev) {
        var data = ev.dataTransfer.getData("text");
        var home = document.getElementById("holder"+ev.target.id);
        home.appendChild(ev.target);
    }

    var texts = document.querySelector('.text-selections');
    texts.addEventListener('drag', ondragstart);
    var dropZone = document.querySelector('.drop-zone');
    dropZone.addEventListener('drop', ondrop);
    dropZone.addEventListener('allowDrop', ondragover);
    var textHolders = document.querySelector('.title-holder');
    textHolders.addEventListener('allowDrop', ondragover);
    textHolders.addEventListener('drop', ondrop);

</script>


<!-- todo: use javascript(?) and flask to generate cards based on info from python -->
<div class="card-group text-selections">
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <div id="holderA" class="title-holder">Text A
            <p id="A" class="btn btn-primary" draggable="true" ondragstart="drag(event)" data-group="0">
                Text A
            </p>
        </div>
        <p class="card-text">I feel great.</p>
      </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Text B</h5>
        <p class="card-text">Scared about going out.</p>
        <p id="B" class="btn btn-primary" draggable="true" ondragstart="drag(event)">
            Text A
        </p>
      </div>
    </div>
    <div class="card text-center" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Text C</h5>
        <p class="card-text">Annoyed at my inability...</p>
        <p id="C" class="btn btn-primary" draggable="true" ondragstart="drag(event)">
            Group Me!
        </p>
      </div>
    </div>
</div>

<br>

<div class ="drop-zone" id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" data-group="0" style="border: 1px solid #aaaaaa; height: 50px"></div>

<!-- TO STACK: make container: drag into container -->

<button type="button" class="btn btn-success btn-lg btn-block" style="margin-top: 50px;">
    Get Analysis
</button>
{% endblock %}
